/* body {
    border-style: solid;
    border-color: crimson;
    border-width: 4px;
} */

body header h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 36px;
    text-align: center;
    padding-bottom: 24px;
}

body p {
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}